
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/*************************************/

/***********************
    END CSS RESET
***********************/

a:link, a:visited,
a:hover, a:active {
	color: #000;
}

body {
	text-align: center;
	background-color: #e4e4e4;
}

h1 {
	margin-top: 50px;
	margin-bottom: 10px;
	font-family: 'Bungee', cursive;
	font-size: 2.5em;
}

h2 {
	font-family: 'Orbitron', sans-serif;
	font-size: .8em;
	letter-spacing: .5em;
}

.console {
	width: 318px;
	height: 318px;
	margin: 20px auto 0 auto;
	position: relative;
	border-radius: 100%;
	box-shadow: -3px 3px 10px 3px #636363;

}

.pad {
	width: 135px;
	height: 135px;
	display: inline-block;
	vertical-align: top;
	border: 8px solid #3c3c3c;

}


/***********************
	 PAD OFF/ON STYLES
***********************/

.pad-0 {
	background-color: #259c4d;
	border-top-left-radius: 100%;
	border-left-width: 16px;
	border-top-width: 16px;
	/* removes gray outline when touching button on mobile browsers */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pad-0-on {
	background-color: #3bff7d;

}

.pad-1 {
	border-top-right-radius: 100%;
	background-color: #960000;
	border-right-width: 16px;
	border-top-width: 16px;

}

.pad-1-on {
	background-color: #ff0000;

}

.pad-2 {
	border-bottom-left-radius: 100%;
	background-color: #a0ad00;
	border-left-width: 16px;
	border-bottom-width: 16px;
	/*box-shadow: 3px 3px 30px black;*/
}

.pad-2-on {
	background-color: #f4ff29;

}

.pad-3 {
	border-bottom-right-radius: 100%;
	background-color: #008a8a;
	border-right-width: 16px;
	border-bottom-width: 16px;

}

.pad-3-on {
	background-color: #00ffff;

}

/***********************
 CENTER CONTROL STYLES
***********************/

.game-title {
	margin-top: 15px;
	font-weight: bold;
	font-size: 1.4em;
	font-family: 'Bungee', cursive;
}

.registered {
	font-size: .5em;
	position: relative;
	bottom: 10px;
	font-family: serif;
}

.center-control {
	border: 2px solid #000;
	border-radius: 100%;
	width: 150px;
	height: 150px;
	background-color: gray;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}


.on-switch-container {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);

}

.off-text,
.on-text  {
	position: relative;
	font-size: .75em;
	top: 20px;
}

.off-text {
	right: 25px;
}

.on-text {
	left: 22px;
}

.on-switch {
	height: 19px;
	width: 40px;
	border: 2px solid #000;
	border-radius: 10px;
	background-color: #636363;

}

.on-switch-knob {
	height: 15px;
	width: 15px;
	border-radius: 100%;
	border: 2px solid #383838;
	background-color: #b04f3d;
	transition: transform .5s;
}

.on-light {
	width: 3px;
	height: 3px;
	border-radius: 100%;
	border: 1px solid #000;
	position: relative;
	left: 68px;
	top: 10px;
	background-color: #630000;

}

.on-light-on {
	background-color: #ff0000;
}

/*transform style will be for on position */
.on-switch-knob-on {
	transform: translateX(21px);
}



.button {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	margin: 0 auto;
	box-shadow: 0 2px #686868;
	border: 2px solid gray;
	/* removes gray outline when touching button on mobile browsers */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button-down {
	position: relative;
	top: 2px;
	box-shadow: none;
}

/* style contains the start, strict buttons */
.buttons-wrapper {
	font-size: .75em;
	margin-top: 20px;
	position: relative;
	left: 5px;
}

.screen-wrapper {
	text-align: center;
	width: 50px;
	display: inline-block;
	vertical-align: top;
	float: left;

}

.screen {
	width: 45px;
	height: 25px;
	border-radius: 20px;
	border: 2px solid #000;
	background-color: #530000;
	color: #ff0000;
	font-size: 1.2em;
	line-height: 25px;
	font-family: 'Orbitron', sans-serif;
	position: relative;
	left: 5px;
}

.count-text {
	position: relative;
	left: 5px;
}


.start-button-wrapper {
	text-align: center;
	width: 50px;
	display: inline-block;
	vertical-align: top;
	float: left;

}

.start-button {

	background-color: #630000;
}

.start-button-text {
	position: relative;
	top: 3px;
}

.start-button-on {
	background-color: #ff0000;

}

.strict-button-wrapper {
	text-align: center;
	width: 30px;
	display: inline-block;
	float: left;

}

.strict-button {
	background-color: #9c9e10;
}

.strict-button-on {
	background-color: #fbff2a;

}

footer {
	margin-top: 20px;
	font-size: .8em;
	text-align: center;
	letter-spacing: .3em;
	font-family: 'Orbitron', sans-serif;
}
